

.chat-settings .settings-field { 
  align-items: flex-start;
}

.chat-settings .settings-input-group {
  display: block;
}

.chat-settings p {
  color: #979797;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.settings-block-list {
  background-color: #2D2D2D;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  max-height: 400px;
  overflow-y: scroll;
  border-radius: 0.6rem;
}

.settings-block-item {
  position: relative;
  border-bottom: 1px solid #4A4A4A;
}

.settings-block-list input {
  padding: 0;
  border: none;
  /* border-bottom: 1px solid #4A4A4A; */
  background: none;
  border-radius: 0;
  margin-bottom: unset;
  height: 5.2rem;
}

.settings-block-list input:last-child {
  border-bottom: unset;
}

.settings-unblock-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  right: 0;
  top: 1.6rem;
  cursor: pointer;
}