
.emoji-picker-list {
  height: 15rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #525252;
  border-radius: 0.4rem;
  margin-bottom: 0.8rem;
  padding: 1.4rem;
}

.emoji-picker-list-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
}

button.emoji-picker-list-emoji {
  background: none;
  padding: 0;
  border: none;
  height: 100%;
  position: relative;
}

.tooltiptext {
  z-index: 20;
  font-size: 1.4rem;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.6rem;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.tooltiptext:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1rem;
  border-width: 0.7rem;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

@media (max-width: 767px) { /* Large Screens */
  .tooltiptext::after {
    left: calc(50% + 1rem);
  }
}