/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.col-wrapper {
  margin-left: 8px;
  width: 400px;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  position: absolute;
}

.chat-wrapper .messages {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  border: 1px solid #4A4A4A;
  border-radius: 9px;
  padding: 14px 12px;
}

.chat-line {
  display: flex;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

.chat-line p {
  line-height: 2rem;
  font-weight: 300;
}

.chat-line .username {
  font-weight: 700;
  padding-right: .1rem;
}

.chat-avatar-wrapper {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.2rem;
  border-radius: 1.4rem;
  overflow: hidden;
}

.chat-avatar-wrapper img {
  width: 100%;
  height: 100%;
}

.composer {
  padding-top: 8px;
  display: flex;
  align-items: center;
}

.composer .input-wrapper {
  display: flex;
  background: var(--color-bg-input);
  border-radius: 8px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  height: 4.8rem;
}

.composer input {
  border: none;
  width: 100%;
  border-radius: 8px;
  /* padding: 0 6px 0 6px; */
  height: 4.8rem;
}

.composer input:focus {
  border: none;
}

.composer .input-button {
  position: absolute;
  right: 8px;
  bottom: 12px;
  background-color: unset;
  padding: 0 !important;
  width: 2.4rem;
  height: 2.4rem;
}

.composer .input-button img {
  width: 100%;
  height: 100%;
}

button.signIn{
  margin-bottom: 0;
  background: #FFE249 !important;
  color: var(--color-text-inverted);
  height: 4.8rem;
  border-radius: 0.8rem;
  font-weight: 700;
}

@media (max-width: 1080px) {
  .col-wrapper {
    width: 100%;
    height: 400px;
    margin-left: unset;
    margin-top: 24px;
  }

  .messages-before-signIn.messages {
    display: none;
  }

}