/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

.col-wrapper {
  margin-left: 8px;
  width: 400px;
  flex-shrink: 0;
  align-self: stretch;
  position: relative;
}

.chat-wrapper {
  display: flex;
  flex-direction: column;
  width: inherit;
  height: 100%;
  position: absolute;
  /* display: relative; */
}

.chat-wrapper .messages {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #4A4A4A;
  border-radius: 9px;
  padding: 14px 12px;
  /* position: absolute; */
}

.chat-line {
  display: flex;
  margin-top: 1.8rem;
}

.chat-line .username {
  font-weight: 700;
  padding-right: .1rem;
}

.chat-avatar-wrapper {
  width: 24px;
  height: 24px;
  margin-right: 1.2rem;
  border-radius: 1.4rem;
  overflow: hidden;
}

.chat-avatar-wrapper img {
  width: 100%;
  height: 100%;
}

.composer {
  padding-top: 8px;
}

.composer .input-wrapper {
  background: var(--color-bg-input);
  border-radius: 8px;
}

.composer input {
  width: 100%;
  border-radius: 8px;
}

.composer button.btn {
  margin-bottom: 0;
  background: #FFE249;
  color: var(--color-text-inverted);
  height: 4.8rem;
  border-radius: 0.8rem;
}

.btn:disabled {
  opacity: .5;
  background: var(--color-bg-button-primary-default);
}

@media (max-width: 1080px) {
  .col-wrapper {
    width: 100%;
    height: 400px;
    margin-left: unset;
    margin-top: 24px;
  }
}